# Netbeans stuff
/nbproject/private/
/build/
/dist/

# Files created in runtime

# Created by jython for the scripts
*.class

# Logs
/logs/

# Saves
/save/*

# crash logs
crashlog.txt

# Universe dump files
universe.dump

# Dump files in general for later
*.dump

# Javadoc files
/docs/

# Settings
settings.properties

# Mapping files
mapping.txt